.game-board {
	height: 85vh;
	padding: 0 20px;

	display: flex;
	align-items: center;

	flex-direction: column;
	overflow-x: hidden;

	.stats {
		width: 700px;
	}
	.board {
		display: flex;
		flex-direction: column;

		margin: 16px 0;
		padding: 16px 128px;

		overflow-x: hidden;
		overflow-y: scroll;

		.board-row {
			flex: 1;
			display: flex;
			margin-bottom: 16px;
		}
		.board-row:last-child {
			margin-bottom: 0;
		}

		.board-cell:last-child {
			margin-right: 0;
		}
	}

	.controls-tip {
		display: inline-block;
		color: gray;
		transform: translateY(12px);
		transition: opacity ease-in 0.4s;
		& > span {
			display: inline-block;
			&::first-letter {
				text-transform: capitalize;
			}
		}
	}
	.controls-tip.hide {
		opacity: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	.game-board .stats,
	.game-board .board {
		width: 95vw;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.game-board .stats,
	.game-board .board {
		width: 95vw;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.game-board .stats,
	.game-board .board {
		width: 80vw;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	.game-board .stats,
	.game-board .board {
		width: 700px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.game-board .stats,
	.game-board .board {
		width: 700px;
	}
}
