@import "../../vars.scss";

.game-stats {
	display: flex;
	width: 100%;
	height: 10vh;

	.game-stats--single {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		margin-right: 8px;
		border-radius: 8px;

		cursor: default;

		box-shadow: 2px 2px 8px $shadow-dark inset, -2px -2px 8px $shadow-light inset;
		color: gray;

		.stats--number {
			font-size: 1rem;
		}
		.stats--icon {
			font-size: 1.5rem;
			margin-right: 10px;
		}
	}

	.game-stats--single.cta {
		cursor: pointer;
	}

	.user-won {
		color: $color-green;
	}

	.user-lost {
		color: $color-red;
	}

	.game-stats--single:last-child {
		margin-right: 0;
	}
}
